
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "settings";

// foundation
@import "~foundation-sites/scss/foundation";


@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;


.container {
}

.login-container {
  height: 100vh;
}

.form-wrapper {

  -webkit-box-shadow: 0px 0px 34px 10px rgba(230,230,237,1);
  -moz-box-shadow: 0px 0px 34px 10px rgba(230,230,237,1);
  box-shadow: 0px 0px 34px 10px rgba(230,230,237,1);

  padding: 5vh;

  header {
    margin-bottom: 10vh;
  }


  .login-form {
    input {
      border: none;
      outline: none;
      border-bottom: 1px solid $secondary-color;
      box-shadow: none;
    }
  }

}

.input-group-label {
  background: $secondary-color;
  color: white;
  width: 50px;
  border: 1px solid $secondary-color;
  i {
    margin: auto;
  }
}


.forgot-password {
  margin-right: 15px;
}

.sidebar-header {
  background: $secondary-color;
  padding: 15px;
  h3 {
    text-align: center;
    color: white;
  }
}

.dashboard-wrapper {
  .top-bar {
    background: white ;
  }

  .menu {
    a {

      i {
        width: 30px;
        text-align: center;
      }
    }

  }
}

.input-margin-fix {
  margin-top: 25px;
}

table {
  tr {
    td {
      text-align: center;

      &.alert {
        a {
          color: $alert-color;
        }
      }
    }
  }
}

.alert {
  ul {
    list-style: none;
    li {
      color: $alert-color;
    }
  }
}